.section-word {
  display: grid;
  grid-template-rows: 20vh 1fr;
}

.hotel-selection {
  background-color: white
}

.hotel-charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.word-cloud {
  background-color: white
}

.radar-chart {
  background-color: white
}